<% if logged_in? %>
  <div class="row">
    <aside class="col-md-8 offset-md-2">
      <section class="newspost_form">
        <%= render "shared/newspost_form" %>
      </section>
      <div">
      <%= render "shared/feed" %>
    </div>
    </aside>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the BebeBlog</h1>
    <h2>
      This is the home page for the
      <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>
    <% if logged_in? %>
    <% else %>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
<% end %>
