$light-gray: #f7f7f9;
$primary-color-dark: #1976D2;
$primary-color: #2196F3;
$primary-color-light: #bbdefb;
$primary-color-text: #ffffff;
$accent-color: #CDDC39;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
$nerWhile-color: #eaeaea;
$blue-color: blue;
$gray: gray;
$red: red;
$bbb: #bbb;
$e8e8e8: #e8e8e8;
