<footer class="footer">
  <small>
    <%= t ".blog" %>
    <%= link_to t(".name"), "http://www.facebook.com/deumi.rct", target: "blank" %>
  </small>
  <nav>
    <ul>
      <small>
        <li><%= link_to t(".about"), about_path %></li>
        <li><%= link_to t(".contact"), "#" %></li>
      </small>
    </ul>
  </nav>
</footer>
